<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="index.html">Madd<span style="color:blueviolet; font-weight:bolder;">Course</span></a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="index.html#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
        <li><a class="nav-link scrollto" href="index.html#services">Services</a></li>
        <li><a class="nav-link" href="courses.html">Courses</a></li>
        <li><a class="nav-link scrollto" href="index.html#team">Team</a></li>
        <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="courses.html">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
